{% extends 'base.html' %}
{% block content %}

    <form method="POST" class="bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mb-4 ">
      {% csrf_token %}
      <div>
        <h1 class="mx-auto text-black text-center font-bold">Adicionar Aluno</h1>
      <div>
      <div class="mb-4">
        <label for="nome" class="block text-gray-700">Nome:</label>
        <input type="text" id="nome" name="nome" class="w-1/2">
      </div class="mb-4">
        <div class="mb-4">
          <label for="matricula" class="block text-gray-700">Matrícula:</label>
          <input type="text" id="matricula" name="matricula" class="w-1/2"><br>
        </div>
        <div class="mb-4">
          <label for="telefone" class="block text-gray-700">Telefone:</label>
          <input type="text" id="telefone" name="telefone" class="w-1/2"><br>
        </div>
        <div class="mb-4">
          <label for="cpf" class="block text-gray-700">CPF:</label>
          <input type="text" id="cpf" name="cpf" class="w-1/2"><br>
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700">E-mail:</label>
          <input type="text" id="email" name="email" class="w-1/2"><br>
        </div>
        <div class="mb-4">
          <label for="data_nascimento" class="block text-gray-700">Data de nascimento:</label>
          <input type="text" id="data_nascimento" name="data_nascimento" class="w-1/2"><br>
        </div>
        <div class="mb-4">
          <label for="endereco" class="block text-gray-700">Endereço:</label>
          <input type="text" id="endereco" name="endereco" class="w-1/2"><br>
        </div>
               
      <div class="flex items-center justify-between py-4">
        <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          Adicionar
        </button>
      </div>
    </form>
  </div>
  
  <a href="{% url 'home' %}" class="text-blue-700 underline">Voltar para pagina inicial</a>
</div>
 
{% endblock %}