<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="flex flex-col h-screen">
    <section>
        <div class="bg-gradient-to-b from-blue-700 via-blue-400 to-blue-600 font-bold p-4 shadow-md">
            <img src="{% static 'img/sga.png' %}" alt="Descriçã da Imagem" width="200px" >
            <h1 class="text-white">Sistema de Gestão Academica</h1>
        </div>        
    </section>
    <div class="flex-grow">
        {% block content %}
        {% endblock %}
    </div>
    <div>
        <footer class="bg-yellow-500 text-white text-center py-2 w-screen">
            <p class="">&copy; 2024 Sistema de Gestão Academica. Todos os direitos reservados.</p>
        </footer>
    </div>
    
</body>
</html>