<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="flex flex-col h-screen">
    <section>
        <div class="bg-gradient-to-b from-blue-700 via-blue-400 to-blue-600 font-bold p-4 shadow-md">
            <img src="{% static 'img/sga.png' %}" alt="Descriçã da Imagem" width="200px" >
            <h1 class="text-white">Sistema de Gestão Academica</h1>
                {% if user.is_authenticated %}
                    <div class="flex justify-end mx-5 space-x-5">
                        <div class="flex space-x-4 mx-10">
                            <h1 class="text-white font-bold text-3xl">Ola,<h2 class="text-white font-bold text-3xl">{{user.username}}!</h2> </h1>
                        </div>
                        <div>
                            <a href="{% url 'logout' %}" ><img src="{% static 'img/icon5.svg' %}" alt="user" width="45px">
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'home' %}"><img src="{% static 'img/icon6.svg' %}" alt="user" width="45px">
                              
                            </a>
                        </div>
                    </div>
                {% endif %}        
        </div>
            
    </section>
    <div class="flex-grow">
        {% block content %}
        {% endblock %}
    </div>
    <div>
        <footer class="bg-yellow-500 text-white text-center py-2 w-screen">
            <p class="">&copy; 2024 Sistema de Gestão Academica. Todos os direitos reservados.</p>
        </footer>
    </div>
    
</body>
</html>