{% extends 'base.html' %}
{% block content %}
<br>
<div class="container flex justify-center items-center h-screen ">
    <div class="flex justify-center bg-blue-300 rounded-lg px-10"> 
        <form action="{% url 'delete_disciplina' disciplina.aluno.id disciplina.curso.id %}" method="POST" class=" justify-center-items-center ">
          {% csrf_token %}
          <div class="flex space-x-2">
            <p class="font-bold font-medium  text-center mt-5 mb-5 ">Tem certeza de que deseja deletar o curso  <p class="text-red-500 mt-5 mb-5 font-bold font-medium ">{{ disciplina.curso.nome }} ?</p></p>
          </div>
          <div class="space-x-5 text-center mt-5 mb-5">
              <button type="submit" class="bg-red-700 hover:bg-red-600 text-white font-bold py-2 px-10 rounded">Sim</button>
              <a href="{% url 'ver_aluno' disciplina.aluno.id %}" class="bg-blue-700 hover:bg-blue-600 text-white font-bold py-3 px-10 rounded mb-5">Não</a>
          </div>
        </form>
      </div>
</div>

  
{% endblock %}