{% extends 'base.html' %}
{% block content %}

<div class="container mx-auto bg-yellow-300 mt-10 mb-0 p-3 shadow-md overflow-hidden sm:rounded">
  <h1 class="text-center font-bold text-2xl">Alterar Aluno</h1>
</div>    
<form method="post" class="container mx-auto bg-gray-100 shadow-md rounded px-4 pt-4 pb-6 mb-6  divide-gray-200">
        {% csrf_token %}
        
        <div class="mb-4">
          <label for="nome"  class="block text-gray-700">Nome:</label>
          <input value="{{alunos.nome}}" type="text" name="nome" class="border border-gray-300 p-1 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-500 hover:border-blue-500 w-1/2">
        </div>
      <div class="mb-4">
        <label for="matricula" class="block text-gray-700">Matricula:</label>
        <input value="{{alunos.matricula}}" type="text" name="matricula" class="border border-gray-300 p-1 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-500 hover:border-blue-500 w-1/2">
      </div>
        <div class="mb-4">
          <label for="telefone" class="block text-gray-700">Telefone:</label>
          <input value="{{alunos.telefone}}" type="text" name="telefone" class="border border-gray-300 p-1 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-500 hover:border-blue-500 w-1/2">
        </div>
        <div class="mb-4">
          <label for="cpf" class="block text-gray-700">CPF:</label>
          <input value="{{alunos.cpf}}" type="number" name="cpf" class="border border-gray-300 p-1 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-500 hover:border-blue-500 w-1/2">
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700">E-mail:</label>
          <input value="{{alunos.email}}" type="email" name="email" class="border border-gray-300 p-1 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-500 hover:border-blue-500 w-1/2">
        </div>
        <div class="mb-4">
          <label for="data" class="block text-gray-700">Data de nascimento:</label>
          <input value="{{alunos.data_nascimento}}" type="date" name="data_nascimento" class="border border-gray-300 p-1 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-500 hover:border-blue-500 w-1/2">
        </div>
        <div class="mb-4">
          <label for="endereco" class="block text-gray-700">Endereço:</label>
          <input value="{{alunos.endereco}}" type="text" name="endereco" class="border border-gray-300 p-1 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-500 hover:border-blue-500 w-1/2">
        </div>
          <div class="mt-6 mb-4 space-x-5 ">
            <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Salvar</button>
            <a href="{% url 'adicionar_aluno' %}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block">Voltar   
            </a>
          </div>
    
</form>
    
  
</div>
  
{% endblock %}