{% extends 'base.html' %}
{% block content %}

<form method="POST" class="container mx-auto bg-gray-300 shadow-md rounded px-4 pt-4 pb-6 mb-6  divide-gray-100 mt-5">
  {% csrf_token %}
    <div cla>
        <h1 class="mx-auto text-center font-bold text-3xl text-gray-600">Alterar Disciplina</h1>
    </div>
    <div class="mb-4">
      <label for="nome" class="block text-gray-700">Nome:</label>
      <input value="{{cursos.nome}}" type="text" id="nome" name="nome" class="w-1/2 rounded p-1">
    </div>

      <div class="mb-4">
        <label for="descricao" class="block text-gray-700">Descrição:</label>
        <input value="{{cursos.descricao}}" type="text" id="descricao" name="descricao" class="w-1/2 p-1 rounded"><br>
      </div>
      <div class="mb-4">
        <label for="cargahoraria" class="block text-gray-700">Carga Horaria:</label>
        <input value="{{cursos.carga_horaria}}"type="number" id="cargahoraria" name="carga_horaria" class="w-1/2 rounded p-1"><br>
      </div>
      <div class="mb-4">
        <label for="departamento" class="block text-gray-700">Curso</label>
        <select name="departamento" id="departamento" class="w-1/2 bg-white py-1 px-3 rounded">
            {% for departamento in departamentos %}
                <option value="{{ departamento.id }}">{{ departamento.nome }}</option>
            {% endfor %}
        </select>
      </div>
      <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <li class="text-red-500 font-bold">{{ message }}</li>
                {% elif message.tags == 'success' %}
                    <li class="text-green-500 font-bold mb-5">{{ message }}</li>
                {% else %}
                    <li>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    
        </div>
              
    <div class="flex items-center space-x-10">
        <div>
            <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
              Salvar
            </button>
        </div>
        <div>
            <a href="{% url 'criar_curso' %}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded ">Voltar   
            </a>
        </div>
    </div>
    
</form>
 
{% endblock %}