{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto bg-yellow-300 mt-10 mb-0 p-3 shadow-md overflow-hidden sm:rounded">
    <h1 class="text-center font-bold text-2xl">Matricular Aluno</h1>
  </div>
<form method="post" class="container mx-auto bg-gray-200 shadow-md rounded px-4 pt-4 pb-6 mb-auto  divide-gray-200">
        {% csrf_token %}
        <div class="mb-5">
            <label for="aluno" class="block text-gray-700 ">Selecione o Aluno:</label>
            <select name="aluno" id="aluno" class="bg-white border border-gray-300 p-1 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-500 hover:border-blue-500 w-1/2">
                {% for aluno in alunos %}
                    <option value="{{ aluno.id }}">{{ aluno.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
        <label for="curso" class="block text-gray-700">Selecione o Curso:</label>
        <select name="curso" id="curso" class="bg-white border border-gray-300 p-1 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-500 hover:border-blue-500 w-1/2">
            {% for curso in cursos %}
                <option value="{{ curso.id }}">{{ curso.nome }}</option>
            {% endfor %}
        </select>
        </div>
        <br>
        <div class="flex space-x-10 p-2">
            <div>
                <button type="submit" class="btn bg-green-600 hover:bg-green-500 text-white rounded py-2 px-10 text-center font-bold ">Salvar</button>
            </div>

            <div class="flex">
                <a href="{% url 'home' %}" class=" text-center bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded ">Voltar   
                </a>
            </div>
        </div>
        <br>
        <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <li class="text-red-500 font-bold">{{ message }}</li>
                {% elif message.tags == 'success' %}
                    <li class="text-green-500 font-bold">{{ message }}</li>
                {% else %}
                    <li>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        </div>
    
</form>

    



{% endblock %}