{% extends 'base.html' %}
{% block content %}

<table class="mt-10 min-w-full divide-y divide-gray-200 bg-white shadow overflow-hidden sm:rounded-lg text-center">
    <thead class="bg-gray-200">
        <tr>
            <th colspan="10" class="px-6 py-3">
                <h1 class="font-medium font-bold">Disciplinas Matriculadas</h1>
            </th>
        </tr>
        <tr >
          <th class="px-6 py-3  text-xs font-medium text-gray-700 uppercase tracking-wider">Nome</th>
          <th class="px-6 py-3  text-xs font-medium text-gray-700 uppercase tracking-wider">Carga Horaria</th>
          <th class="px-6 py-3  text-xs font-medium text-gray-700 uppercase tracking-wider">Duração</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200 ">
        {% for matricula in aluno.matriculas.all %}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">{{ matricula.curso.nome }}</td>
                <td class="px-6 py-4 whitespace-nowrap"> {{ matricula.curso.carga_horaria }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ matricula.curso.duracao }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="flex">
    <a href="{% url 'home' %}" class=" text-center bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded mt-5">Voltar   
    </a>
</div>

{% endblock %}